
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: black;
}

.wrapper .sidebar {
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
	margin-bottom: 30px;
	text-align: center;
}

.wrapper .sidebar .profile img {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
	color: #ffffff;
}

.wrapper .sidebar .profile p {
	color: rgb(206, 240, 253);
	font-size: 14px;
}

.wrapper .sidebar ul li a {
	display: block;
	padding: 13px 30px;
	/* bttom */
	border-bottom: 1px solid black;
	color: rgb(241, 237, 237);
	font-size: 13.5px;
	position: relative;
	max-height: calc(100vh - 9rem);
	overflow-y: auto;
}

.wrapper .sidebar ul li a .icon {
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
	/*Text hover*/
	color: black1;
	/*Color to the right side of the bar*/
	border-right: 2px solid white;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
	color: white;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
	display: block;
}

.wrapper .section {
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}

.logo {
	color: red;
	bottom: -100px;
}

.fa-angle-left .fa {
	transform: rotate(720deg);
}

.leader-board {
	color: black;
}

body.active .wrapper .sidebar {
	left: -225px;
}

body.active .wrapper .section {
	margin-left: 0;
	width: 100%;
}

p {
	color: white;
}


/* Wrapper for the top right menu */

.drop-btn {
	background-color: black;
	color: navy;
	font-size: 15px;
	border: none;
	content: "\f107"
}


/*get it to transform*/

.wrapper .sidebar ul li a:hover .item_2,
.wrapper .sidebar ul li a.active .item_2 {
	color: red;
}

.item_2 {
	margin-left: 30px;
	color: white;
	transform: rotate(180deg);
}

.dropdown-content-2 {
	display: none;
}

.show {
	display: block;
	max-height: 290px;
	overflow: auto;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: black;
}


/* Second inline dropdown menu for side list */

.dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 17px;
	color: white;
	display: block;
	border: none;
	background: none;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.dropdown-content {
	display: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
	color: #f1f1f1;
	background-color: black;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
	float: right;
	padding-right: 8px;
}


/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}


/* Data and information boxes */

.background {
	width: 430px;
	height: 520px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

label {
	display: block;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 500;
}


/*

Top right navbar conf

*/

.dropbtn {
	background-color: black;
	color: white;
	padding: 36px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-top: -5%;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: black;
}

.annoucment {
	text-align: center;
}

.logo_top_nav {
	color: white;
}

.servive-block {
	text-align: center;
}

.servive-block h2 {
	color: black;
}

.servive-block p {
	color: black;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

.servive-block h2 a:hover {
	text-decoration: none;
}

.servive-block-light,
.servive-block-default {
	background: #fafafa;
	border: solid 1px #eee;
}

.servive-block-default:hover {
	box-shadow: 0 0 8px #eee;
}

.servive-block-light p,
.servive-block-light h2,
.servive-block-default p,
.servive-block-default h2 {
	color: #555;
}

.servive-block-aqua {
	width: 300px;
	background: white;
	position: relative;
	left: 359px;
	height: 130px;
	border-radius: 5px;
}

.servive-block-aqua-2 {
	top: -130px;
	width: 300px;
	background: white;
	position: relative;
	left: 740px;
	height: 130px;
	border-radius: 5px;
}

.servive-block-aqua-3 {
	top: -260px;
	width: 300px;
	background: white;
	position: relative;
	left: 1110px;
	height: 130px;
	border-radius: 5px;
}

.servive-block-aqua-4 {
	top: -390px;
	width: 300px;
	background: white;
	position: relative;
	left: 1500px;
	height: 130px;
	border-radius: 5px;
}

.servive-block-aqua-6 {
	top: -200px;
	width: 500px;
	background: white;
	position: relative;
	left: 750px;
	height: 300px;
	border-radius: 5px;
}

ul.a {
	list-style-type: circle;
	color: black;
	font-weight: bold;
}

.ph-md p {
	text-align: center;
}
