 
*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    list-style: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:  black;
    color: #fff;
}

.logo-photo {
    width: 400;
    height: 500;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-top: .5%;
}

/*NAVBAR TOP LEFT TO TOP RIGHT*/

/* NAVBAR MENU */
.menu {
    display: flex;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline  #eaab1c;
    border-radius: 5px;
    transition: 0.5s ease;
}

.menu a {
    padding: 5px 14px;
}

.header2_users, h2{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

/*

.menu {
    display: flex;
    gap: lem;
    justify-content: right;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
.menu a:not(:last-child) {
    margin-right: 20px;
  }
  
.menu a {
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 7px 15px;
  }
  
.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
  }
  
.menu a, .target {
    transition: all .35s ease-in-out;
  }
  */


/*etc*/

site-title,a{
    color: white;
    text-align: left;
}

h3 {
    color: white;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
}

menu {
    background-color: white;

}

body {
    font-size: 18px;
    font-family: "Vibur", sans-serif;
    background-color:  black;
}

.color {
    background-color: red;
}

.header{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4.2rem;
    font-size: 3.8rem;
    border-bottom: 10px solid black;
}


.ACK_MAIN, a{
    text-align: center;
    justify-content: center;
    color: white;
}

p {
    text-align: center;
    justify-content: center;
    color: white;
}

.bottom_under_img_header{
    color: white;
    text-align: center;
    width: 20;
}

p.bottom {
    color: white;
}


.main2{
    color: white;
    text-align: center;
    width: 50;
    text-decoration: underline white;
    font-size: 40px;
}

.bottom2 {
    color: white;
}



.rules {
    color: white;
    text-align: center;

}

.header1 {
    text-align: center;
    justify-content: center;
    color: red;
    font-size: 30px;
    text-decoration: underline purple;
}

.header1p {
    font-style: italic;
    font-size: 20px;
    color: red;
}

.headerpoints {
    text-overflow: hidden;
    color: royalblue;

}

.infosc {
    text-align: center;
    color: white;
    text-decoration: none;
    text-decoration: none;
}

.header1_main2 {
    color: yellow; text-decoration: underline red;
}

.box1 {
    border: 3px solid white; 
    padding: 10%;
    width: 50%;
    margin: 0 32%;  
}

.box_p {
    color: white;
}

.image_main_bottom {
    max-width: auto;
    height: auto;
}


.box_ACK {
    border: 3px solid white; 
    padding: 10%;
    margin: 0 32%;
}

/* parrot added this for bug-tos.php */

.bug_title {
    text-align: center;
    margin-top: 10px;
}

h3 {
    text-align: left;
}

.bug_header{
    color: white;
    text-align: center;
    width: 50;
    text-decoration: underline white;
    font-size: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  th {
    color: white;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid white;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }



.promo {
   align-items: center;
}


.logo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44.7%
  }
    


.first_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 50%;

}


 .warning {
   color: red; 
 }
