.main-footer {
  background-color: white;
} div.progress-bar.progress-bar-aqua {
  width: 20%;
} .profile {
  margin-top: 11%;margin-left: -14%;
} .signout {
  margin-top: 10%;margin-right: 100%;
} h1 {
  color: white;
} .streak {
  width: 90%;
} .boxinfo {
  overflow: hidden;
}