.card {
    border: 2px solid black;
    background-color: #232323;
    width: 20%;
    height: 500px;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 8%;
    align-items: center;
}